body {
    font-family: Arial, sans-serif;
    background-color: #E1C3B8;
    color: brown;
}
header, footer {
    background-color: #8B664F;
    color: white;
    text-align: center;
    padding: 10px;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.hero-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.product-card {
    width: 48%;
    display: inline-block;
    margin: 1%;
    background-color: #928E5D;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.products {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}


nav a:hover {
    background-color: #D8A39B;
    padding: 5px;
}


